html, body, body * {
  touch-action: pan-x pan-y;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
body input, body textarea, body [contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}
body button:disabled { pointer-events: none; }